extends layout

block content
  .wrapper

        form.form-signin(method='post', action='/recovery')

          h3.form-signin-heading Username/Password Recovery
          |
          - if(message){
          p(style='color:red') #{message}
          - }
          
          label Enter Username (hint: it's your email address)
          input.form-control(type='text', name='username', placeholder='Username')
          p
          label What is your dogs middle name?
          input.form-control(type='text', name='recovery', placeholder='Answer')
          p
          label Enter new Password
          input.form-control(type='password', name='password', placeholder='Password')
          p
          label Repeat new Password
          input.form-control(type='password', name='passwordc', placeholder='Repeat Password')
          p
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Update