extends /layout

block BSNav
     +BSnav("Database Access", "nav_dropdown_menu_1", "inverse")
        +BSnav_item( "index.html", "active" ) Home
        +BSnav_item( "about.html" ) About
        +BSnav_item( "contact.html" ) Contact
        +BSnav_item_dropdown( "#" )( label="Dropdown" )
          +BSnav_item( "#" ) Action
          +BSnav_item( "#" ) Another action
          +BSnav_item( "#" ) Something else here
          +BSnav_divider
          +BSnav_header Nav header
          +BSnav_item( "#" ) Separated link
          +BSnav_item( "#" ) One more separated link
          each val in ["cerulean", "cosmo", "cyborg", "darkly", "flatly", "journal", "lumen", "sandstone", "simplex", "slate", "spacelab", "superhero", "united", "yeti"]
            +BSnav_item( "#" )= val
        
        +BSnav_theme_dropdown( "#" )( label="Theme" )
          each val in ["cerulean", "cosmo", "cyborg", "darkly", "flatly", "journal", "lumen", "sandstone", "simplex", "slate", "spacelab", "superhero", "united", "yeti"]
            +BSnav_theme_item( "#", active, val )= val