extends /layout

block content
  .wrapper
    .row
    .col-sm-6
        h2 Log in
        | Sign in to start your session
        form(action="/", method="post")
          input(type="text", placeholder="Username", name="user", value="Username").form-control
          input(type="password", placeholder="Password", name="password", value="12345678").form-control
          button(type="submit").btn.btn-primary.btn-block.btn-flat Log in
          br
          span.glyphicon.glyphicon-lock.form-control-feedback.row.col-xs-8.checkbox.icheck
          input(type="checkbox", name="remember", checked=off)
          |  Remember Me
          br
          a(href='#').text-center I forgot my password
          br
          a(href='#').text-center Register a new membership
        
        if errors
          p.font(size='24') Error logging in: 
          ul.font(size='24')
            for error in errors
              li!= error.msg