extends /layout

block content
  .wrapper
    .row
    .col-sm-6
        h2 Enter KPI Number (FSO Number)
        form(action="kpi", method="post")
          input(type="text", placeholder="KPI Number", name="kpinumber", value="kpinumber").form-control
          button(type="submit").btn.btn-primary.btn-block.btn-flat Go