include /mixins/BSmixin.pug

doctype html
html(lang='en')
  head
    title= title
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='NCS Multistage Key Performance Indicator' )
    
    //- Online themed Bootstrap at https://bootswatch.com/
      Known working themes:
      cerulean, cosmo, cyborg, darkly, flatly, journal, lumen, sandstone, simplex, slate, spacelab, superhero, united, yeti
    +BStheme("superhero")

    //- Basic Bootstrap housed on this server
      link(rel='stylesheet', href='/BS/css/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/BS/js/bootstrap.min.js')
    script(src='/javascripts/BSTheme.js')

  body(style="padding-bottom:10rem;")
    .container
      block BSNav
      //- +BSnav("Database Access", "nav_dropdown_menu_1", "inverse")
      //-   +BSnav_item( "index.html", "active" ) Home
      //-   +BSnav_item( "about.html" ) About
      //-   +BSnav_item( "contact.html" ) Contact
      //-   +BSnav_item_dropdown( "#" )( label="Dropdown" )
      //-     +BSnav_item( "#" ) Action
      //-     +BSnav_item( "#" ) Another action
      //-     +BSnav_item( "#" ) Something else here
      //-     +BSnav_divider
      //-     +BSnav_header Nav header
      //-     +BSnav_item( "#" ) Separated link
      //-     +BSnav_item( "#" ) One more separated link
      //-     each val in ["cerulean", "cosmo", "cyborg", "darkly", "flatly", "journal", "lumen", "sandstone", "simplex", "slate", "spacelab", "superhero", "united", "yeti"]
      //-       +BSnav_item( "#" )= val
        
      //-   +BSnav_theme_dropdown( "#" )( label="Theme" )
      //-     each val in ["cerulean", "cosmo", "cyborg", "darkly", "flatly", "journal", "lumen", "sandstone", "simplex", "slate", "spacelab", "superhero", "united", "yeti"]
      //-       +BSnav_theme_item( "#", active, val )= val
      
      block content
      //- +BSpanel("Panel Heading") We are a fairly small, flexible design studio that 
      //-   designs for print and web. We work flexibly with clients to fulfil their 
      //-   design needs. Whether you need to create a brand from scratch, including 
      //-   marketing materials and a beautiful and functional website or whether 
      //-   you are looking for a design refresh we are confident you will be 
      //-   pleased with the results.
      //- +BSpanel("Panel Heading", "success") We are a fairly small, flexible design studio that 
      //-   designs for print and web. We work flexibly with clients to fulfil their 
      //-   design needs. Whether you need to create a brand from scratch, including 
      //-   marketing materials and a beautiful and functional website or whether 
      //-   you are looking for a design refresh we are confident you will be 
      //-   pleased with the results.
      //- +BSpanel("Panel Heading", "primary") We are a fairly small, flexible design studio that 
      //-   designs for print and web. We work flexibly with clients to fulfil their 
      //-   design needs. Whether you need to create a brand from scratch, including 
      //-   marketing materials and a beautiful and functional website or whether 
      //-   you are looking for a design refresh we are confident you will be 
      //-   pleased with the results.

      //- +BSbutton Default
      //- +BSbutton("primary", "link.htm") Primary
      //- +BSbutton("success", "success.html", "large") Success
      //- +BSbutton("info", "info.html", "small") Info
      //- +BSbutton("warning", "warning.html", "mini") Warning

      //- +BSalert("warning") Warning! Warning!
      //- +BSalert("danger") Danger Will Robinson!
      //- +BSalert("success") You succeeded :-)
      //- +BSalert("info") Some information for you

      //- +BSjumbotron
      //-   h1 Hello, world!
      //-   p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      //-   p: +BSbutton("primary", "more.htm", "large") Learn more

      //- +BSlistGroup("list")
      //-   +BSlistItem("active") Cras justo odio
      //-   +BSlistItem Dapibus ac facilisis in
      //-   +BSlistItem Morbi leo risus
      //-   +BSlistItem Dapibus ac facilisis in
      //-   +BSlistItem Morbi leo risus
      //-   +BSlistItem Dapibus ac facilisis in

      //- +BSlistGroup("links")
      //-   +BSlistItem("link1.html")
      //-     +BSlistHeading Linked List group item heading Start
      //-     +BSlistText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
      //-   +BSlistItem("link2.html", "active")
      //-     +BSlistHeading Active Linked List group item heading
      //-     +BSlistText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
      //-   +BSlistItem("link3.html")
      //-     +BSlistHeading Linked List group item heading
      //-     +BSlistText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
      
      //- +BSlistGroup
      //-   +BSlistItem
      //-     +BSlistHeading Linkless List group item heading
      //-     +BSlistText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
      //-   +BSlistItem
      //-     +BSlistHeading Linkless List group item heading
      //-     +BSlistText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
      //-   +BSlistItem
      //-     +BSlistHeading Linkless List group item heading
      //-     +BSlistText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

